*.bak
*~
*.exe
*.o
*.a
*.depend
*.layout
*.res
*.user
*.ncb

mongoose-hg/*
mongoose-tmp/
gerhobbelt-github-mongoose/

gerhobbelt-mongoose-issue-360/
mongoose-issue360/
gerhobbelt-issue349/
mongoose-issue349/

build/msvc2010/bin/
build/msvc2010/obj/
build/msvc2010/ipch/

build/msvc2008/bin/
build/msvc2008/obj/
build/msvc2008/ipch/

*.suo
*.sdf
*.opensdf

html/contact/images/_vti_cnf
html/contact/_vti_cnf
html/dev/_vti_cnf
html/faking_it/_vti_cnf
html/images/_vti_cnf
html/overview/images/_vti_cnf
html/overview/_vti_cnf
html/styles/_vti_cnf
html/trading/_vti_cnf
html/_vti_cnf
html/_vti_pvt
html/mongoose/_vti_cnf

log/
