[submodule "tws_c_api"]
	path = tws_c_api
	url = git@github.com:GerHobbelt/tws_c_api.git
[submodule "mongoose"]
	path = mongoose
	url = git@github.com:GerHobbelt/mongoose.git
[submodule "libxml"]
	path = libxml
	url = git@github.com:GerHobbelt/libxml2.git
[submodule "libiconv"]
	path = libiconv
	url = git@github.com:GerHobbelt/libiconv.git
[submodule "hamsterdb"]
	path = hamsterdb
	url = git@github.com:GerHobbelt/hamsterdb.git
[submodule "html/js/d3"]
	path = html/js/d3
	url = git@github.com:GerHobbelt/d3.git
[submodule "upskirt"]
	path = upskirt
	url = git@github.com:GerHobbelt/upskirt.git
[submodule "html/js/cube"]
	path = html/js/cube
	url = git@github.com:GerHobbelt/cube.git
[submodule "utils/wsclean"]
	path = utils/wsclean
	url = git@github.com:GerHobbelt/whitespace-cleaner.git
[submodule "html/dive_into_html5"]
	path = html/dive_into_html5
	url = git@github.com:GerHobbelt/diveintohtml5.git
[submodule "html/dive_into_html5.original"]
	path = html/dive_into_html5.original
	url = git@github.com:GerHobbelt/diveintohtml5-original-sensibilities.git
[submodule "html/js/cubism"]
	path = html/js/cubism
	url = git@github.com:GerHobbelt/cubism.git
[submodule "utils/recrmdir"]
	path = utils/recrmdir
	url = git@github.com:GerHobbelt/recrmdir.git
[submodule "otl"]
	path = otl
	url = git@github.com:GerHobbelt/otl.git
[submodule "html/js/docco"]
	path = html/js/docco
	url = git@github.com:GerHobbelt/docco.git
[submodule "html/js/Modernizr"]
	path = html/js/Modernizr
	url = git@github.com:GerHobbelt/Modernizr.git
[submodule "html/js/underscore"]
	path = html/js/underscore
	url = git@github.com:GerHobbelt/underscore.git
[submodule "html/js/backbone"]
	path = html/js/backbone
	url = git@github.com:GerHobbelt/backbone.git
[submodule "html/js/backbone-fundamentals-book"]
	path = html/js/backbone-fundamentals-book
	url = git@github.com:GerHobbelt/backbone-fundamentals.git
[submodule "html/js/crossfilter"]
	path = html/js/crossfilter
	url = git@github.com:GerHobbelt/crossfilter.git
[submodule "utils/uncrustify"]
	path = utils/uncrustify
	url = git@github.com:GerHobbelt/uncrustify.git
[submodule "libcsv"]
	path = libcsv
	url = git@github.com:GerHobbelt/libcsv.git
[submodule "libcsv-utils"]
	path = libcsv-utils
	url = git@github.com:GerHobbelt/csvutils.git
[submodule "html/js/d3-plugins"]
	path = html/js/d3-plugins
	url = git://github.com/GerHobbelt/d3-plugins.git
[submodule "html/js/nvd3"]
	path = html/js/nvd3
	url = git@github.com:GerHobbelt/nvd3.git
[submodule "html/js/lazyload"]
	path = html/js/lazyload
	url = git://github.com/GerHobbelt/lazyload.git
[submodule "html/js/tinyMCE"]
	path = html/js/tinyMCE
	url = git@github.com:GerHobbelt/tinymce.git
[submodule "xlslib"]
	path = xlslib
	url = git@github.com:GerHobbelt/xlslib.git
[submodule "html/js/jDataView"]
	path = html/js/jDataView
	url = git@github.com:GerHobbelt/jDataView.git
[submodule "bl.ocks.org"]
	path = bl.ocks.org
	url = git@github.com:GerHobbelt/bl.ocks.org.git
[submodule "libjson"]
	path = libjson
	url = https://github.com/GerHobbelt/libjson
[submodule "html/js/CodeMirror2"]
	path = html/js/CodeMirror2
	url = git@github.com:GerHobbelt/CodeMirror2.git
